<%= form_with(model: teacher_schoolclass, local: true) do |form| %>
  <% if teacher_schoolclass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher_schoolclass.errors.count, "error") %> prohibited this teacher_schoolclass from being saved:</h2>

      <ul>
      <% teacher_schoolclass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :teacher_id %>
    <%= form.number_field :teacher_id, id: :teacher_schoolclass_teacher_id %>
  </div>

  <div class="field">
    <%= form.label :schoolclass_id %>
    <%= form.number_field :schoolclass_id, id: :teacher_schoolclass_schoolclass_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
