<p id="notice"><%= notice %></p>

<p>
  <strong>Width:</strong>
  <%= @table.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @table.height %>
</p>

<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
